<div class="container">
  <div class="row considered-amount-row">
    <input class="amount" type="number" placeholder="amount" />
    <input class="price" type="number" placeholder="price" />
    <app-currency-drop-down></app-currency-drop-down>
  </div>
  <div class="row considered-amount-row">
    <input class="amount" type="number" placeholder="amount" />
    <input class="price" type="number" placeholder="price" />
    <app-currency-drop-down></app-currency-drop-down>
  </div>
  <div class="row condition-row">
    <app-condition-drop-down></app-condition-drop-down>
    <input class="price" type="number" placeholder="price" />
  </div>
  <div class="row">
    <button class="btn btn-success add-button" (click)="addButtonClicked()">Add</button>
    <button class="btn btn-danger cancel-button" (click)="cancelButtonClicked()">Cancel</button>
  </div>
</div>
